.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.profile-pic-img {
  width: 60px;
}
.profile-name {
  color: #6366f1;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}
.bio-text {
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
}
.retry-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.retry-btn {
  background-color: #4f46e5;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  font-size: 11px;
  width: 80px;
}
